html {
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
  height: 100%;
}
body {
  font: 1.6rem Helvetica;
  min-height: 100%;
  margin: 0;
}
.cart-button{
  font-size: 1.6rem;
  width:100%;
}
button {
  font-size: 1.6rem;
}
.button {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button:hover {
  border: 0.1rem #404040 solid;
}
.button.primary {
  background-color: #b396f7;
  color:white;
}
.button.primary:hover {
  background-color: #533696;
  
}
.button.secondary {
  background-color: #f0f0f0;
}
.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

#root {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.header {
  grid-area: header;
  background-color: #533696;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  flex-wrap: wrap;
}

.header-links a {
  float: left;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  padding: 1rem;
  margin-left: auto;
}

.logo {
  position: absolute;
  left: 1cm;
}

.brand a {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
}
.header-links a:hover {
  color: #ff8000;
}

.search-box {
  width: 500px;
  height: 20px;
  margin-left: 100px;
  background-image: url("logo.svg");
  border: none;
  text-indent: 20px;
}
/* Sidebar */
.sidebar {
  position: fixed;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #ffffff;
  height: 100%;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  border-radius: 50%;
  border: 0.1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: .5rem;
}
.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

/* HomeScreen */

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 40rem;
  border-bottom: 0.1rem #c0c0c0 solid;
  margin-top: 5;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product-name {
  font-size: 2rem;
  font-weight: bold;
}
.product-name a:link {
  color: #533696;
}
.product-name a:visited {
  color: #533696;
}
.product-name a:hover {
  color: brown;
}
.product-brands {
  font-size: 1.2rem;
  color: #808080;
}
.product-prices {
  font-size: 2rem;
  font-weight: bold;
}
.product-images {
  width: 30rem;
  height: 30rem;
  /* overflow: hidden; */
  object-fit: fill;
}
.product-ratings {
  margin-bottom: 1rem;
}

/*Footer*/

.footer {
  grid-area: footer;
  position: absolute;
  /* bottom: 0; */
  padding-top: 0.5cm;
  width: 100%;
  margin-top: auto;
  background-color: #533696;
  color: #ffffff;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* product Details */
.details {
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1 rem;
  margin-top: 10px;
}

.details-image {
  /* flex: 2 1 60 rem; */
  /* flex: 0 50%; */
  flex-grow: 1;
  width: 33%;
}

.sliderimg {
  width: 30rem;
  height: 30rem;
  /* overflow: hidden; */
  object-fit: fill;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slider {
  display: flex;
  flex-direction: column;
}

.details-info {
  /* flex: 1 1 30 rem; */
  /* flex: 0 25%; */
  flex-grow: 1;
  width: 33%;
}

.details-action {
  /* flex: 1 1 30 rem; */
  /* flex: 0 25%; */
  flex-grow: 1;
  width: 33%;
}

.details-info ul,
.details-action ul {
  list-style-type: none;
  padding: 0;
}

.details-info li,
.details-action li {
  margin-bottom: 1rem;
}

.details-action {
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1 rem;
}

.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}

.cart-button {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  cursor: pointer;
  border-radius: 0.5rem;
}

.cart-button:hover {
  border: 0.1rem #404040 solid;
}

/*cart*/

.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}
.cart-list {
  flex: 3 1 60rem;
}
.cart-action {
  flex: 1 1 20rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 1rem;
}
.cart-list-container {
  padding: 0;
  list-style-type: none;
  padding: 1rem;
}
.cart-list-container li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.cart-list-container li img {
  max-width: 10rem;
  max-height: 10rem;
}
.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.cart-image {
  flex: 1 1;
}
.cart-name {
  flex: 8 1;
}
.cart-price {
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}


/* form*/
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}
.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}

